<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113668724768-e5e6rs6cc0nhutqpcuruegc745k4kb4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113668724768-e5e6rs6cc0nhutqpcuruegc745k4kb4t</string>
	<key>API_KEY</key>
	<string>AIzaSyBJuUSlJsnyl5JYT7pPGQfloa3ZbT4JcsE</string>
	<key>GCM_SENDER_ID</key>
	<string>113668724768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yevinw.Child-Lock-Prototype</string>
	<key>PROJECT_ID</key>
	<string>childlock-43c72</string>
	<key>STORAGE_BUCKET</key>
	<string>childlock-43c72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113668724768:ios:1fdf7fb109e7665ed7c445</string>
</dict>
</plist>